/* Entire page styling */
:root {
  --heading-color-1: #7c7a7a;
--heading-color-2: #ffc0cb;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background-color: #f8edeb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.project-grid-area:hover {
  background-color: #D9C0F1;
}


/* Styling for the nav bar and links  */

header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1%;
  background-color: #ffc0cb;
  width: 100vw;
}

h1 {
  padding-left: 0%;
}

.links {
  list-style: none;
  font-size: 30px;
}

.links li {
  display: inline-block;
  padding: 0px 20px;
  

}
.links li a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: #7c7a7a;
}

.links li a:hover {
  color: #0088a9;
}

/* Main grid */

.page-wrapper {
  display: grid;
  width: 90vw;
  margin-left: 20px;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "hero-headline hero-image hero-image"
  "skills-heading skills-section skills-section"
  "work-heading main-project main-project"
  "work-heading project-1 project-2"
  "work-heading project-3 project-4"
  "contact-heading contact-section contact-section"
  ; 
}



/* Hero section  */
#hero-headline {
  grid-area: hero-headline;
  align-self: center;
  justify-self: center;
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  color:var(--heading-color-1);
}

#hero-image {
  grid-area: hero-image;
  height: 475px;
  width: 600px;
  align-self: center;
  justify-self: center;
  padding-top: 10px;

}


/* Grid areas - skills section  */

#skills-heading {
grid-area: skills-heading;
border-right: 2px #7c7a7a solid;
text-align: center;
padding-top: 20%;
font-size: 50px;
color: var(--heading-color-1);
}

#skills-section {
  grid-area: skills-section;
}

#skills-section p {
  text-align: center;
  padding: 10px;
}

/* Grid areas - project examples */

#work-heading {
  grid-area: work-heading;
  border-right: 2px black solid;
  text-align: center;
padding-top: 40%;
font-size: 50px;
color: var(--heading-color-1);
  
}

/* Main project styling */

#main-project-description {
  border: 2px #7c7a7a solid;
  width: 300px;
height: 110px;
text-align: center;
background-color: pink;
margin-top: 170px;
font-size: 30px;

}


#main-project {
  grid-area: main-project;
  border:  4px grey solid;
  background-repeat: no-repeat;
  background-image: url("../images/horiseon-website.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  width: 1100px;
 
  }

.work-image {
  text-decoration: none;
  color: black;
}



/* Project 1 styling */


#project-1 {
  grid-area: project-1;
  border: 4px grey solid;
  background-image: url("../images/study-guide.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
}

#project-1-description {
border: 2px #7c7a7a solid;
width: 300px;
height: 190px;
text-align: center;
background-color: pink;
margin-top: 170px;
font-size: 30px;
}

/* Project 2 styling */

#project-2 {
  grid-area: project-2;
  border: 4px grey solid;
  background-image: url("../images/02-portfolio-1.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
}

#project-2-description {
  border: 2px #7c7a7a solid;
  width: 300px;
  height: 110px;
  text-align: center;
  background-color: pink;
  margin-top: 170px;
  font-size: 30px;
  }

/* Project 3 styling */
#project-3 {
  grid-area: project-3;
  border: 4px grey solid;
  background-image: url("../images/calculator-project.png");
  object-fit: cover;
  background-repeat: no-repeat;
}


#project-3-description {
    border: 2px #7c7a7a solid;
    width: 300px;
    height: 130px;
    text-align: center;
    background-color: pink;
    margin-top: 170px;
    font-size: 30px; 
}

/* Project 4 styling */

#project-4 {
  grid-area: project-4;
  border: 4px grey solid;
  background-image: url("../images/run-buddy.png");
  object-fit: cover;
  
}

#project-4-description {
  border: 2px #7c7a7a solid;
  width: 300px;
  height: 130px;
  text-align: center;
  background-color: pink;
  margin-top: 170px;
  font-size: 30px; 
}


/* Grid area - contact me */

#contact-heading {
grid-area: contact-heading;
border-right: 2px black solid;
text-align: center;
padding-top: 20%;
font-size: 50px;
color: var(--heading-color-1);
}

#contact-section {
  grid-area: contact-section;
  padding-top: 200px;
  
}


/* Media queries */

@media screen and (max-width: 550px) {

  header {
    flex-direction: column;
    width: 100%; 
  }

 #hero-headline {
  font-size: 40px;
 }

 h2 {
  font-size: 40px;
 }

 .page-wrapper {
  width: 90vw;
  height: 90vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "hero-headline"
  "hero-image"
  "skills-heading"
  "skills-section"
  "work-heading"
  "main-project" 
   "project-1"
    "project-2"
  "project-3"
   "project-4"
  "contact-heading"
  "contact-section";
 }
}

@media screen and (max-width: 820px) {


 #hero-headline {
  font-size: 50px;
 }

 h2 {
  font-size: 60px;
 }

 .page-wrapper {
  width: 90vw;
  height: 90vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "hero-headline"
  "hero-image"
  "skills-heading"
  "skills-section"
  "work-heading"
  "main-project" 
   "project-1"
    "project-2"
  "project-3"
   "project-4"
  "contact-heading"
  "contact-section";
 }
}
}