/* Entire page styling */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/* Styling for the nav bar  */

header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  padding-left: 1%;
}

h1 {
  padding-left: 0%;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  

}
.nav_links li a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}


/* Styling for the headline section  */

.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  padding-left: 1%;
}

.hero-banner img {
  height: 475px;
  width: 600px;
}

.hero-banner p {
  display: inline-block;
  font-size: 80px;

}


/* Grid and styling for skills section */

#my-skills {
    display: flex;
    justify-content: space-evenly;
  }
  
  #my-skills h2 {
    padding: 1%;
  }
  
.skills-block {
    display: inline-block;
    border: 2px solid black;
    height: 160px;
    width: 500px;
    text-align: center;
    line-height: 30px;
  }

/* Grid and styling for work portfolio  */

#work {
  display: grid;
  margin: 0px 5%;
  padding-left: 8%;
  height: 1000px;
  width: 1756px;
  grid-gap: 50px;
  /* grid-template-rows:  */
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-areas: 
  "main-project main-project"
  "project-1 project-2" 
  "project-3 project-4"
}

#work h2 {
  grid-area: heading; 
  border: 2px solid black;
}

#main-project {
  border: 2px solid black;
  grid-area: main-project;

}


#project-1 {
  border: 2px solid black;
  grid-area: project-1;
}

#project-2 {
  border: 2px solid black;
    grid-area: project-2;
}

#project-3 {
  border: 2px solid black;
  grid-area: project-3;
}

#project-4 {
  border: 2px solid black;
  grid-area: project-4;
}

#subHeading {
 position: relative;
 top: 80px;
padding: 1%;
left: 60px;
 
}

/* Main grid */

/* .page-wrapper {
display: grid;

}

.skills-block {
  grid-area: about-block;
  border: 2px solid black;
}

.page-section h2 {
  grid-area: heading; 
  border: 2px solid black;
}

.projects {
  grid-area: projects;
  border: 2px solid black;
}

.footer {
  grid-area: contact;
  border: 2px solid black;
} */
